language: node_js
node_js:
  - "6"
  - "5"
  - "4"
  - "0.10"
notifications:
  email: false
script: make cover
after_success: cat /home/travis/build/glayzzle/php-unparser/coverage/lcov.info | /home/travis/build/glayzzle/php-unparser/node_modules/coveralls/bin/coveralls.js
